{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": "airbnb",
    "rules": {
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-underscore-dangle": [2, { "allow": ["__get__"] }]
    }
}
