*.log
.DS_Store
bower_components
node_modules
bundle.js
server/db/data/products
server/db/data/reviews

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

