.modal {
  position: fixed;
  width: 80%;
  height: auto;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.cancel {
  color: rgb(118, 118, 118);
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.cancel:hover {
  color: rgb(80, 80, 80);
}

#modal-left {
  background-color: rgb(229, 229, 229);
  height: auto;
}

#modal-right {
  height: auto;
}

.modal-right-el {
  background-color: white;
  border-bottom-color: rgb(229, 229, 229);
  border-bottom: 1px;
}

.review-title {
  margin-top: 0;
}