#reviews .nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  clear: both;
}
#reviews .modal {
  position: absolute;
  width: 80%;
  height: auto;
  top: 50px;
  left: 10%;
  margin: 0 auto;
  display: grid;
  overflow-y: visible;
  grid-template-columns: 1fr 3fr;
  z-index: 4;
}
#reviews .modal-background {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#reviews .button-select {
  background-color: rgb(102, 102, 102);
  color: white;
}
#reviews .cancel {
  color: #767676;
  float: right;
  position: relative;
  margin-right: 5px;
  height: 22px;
  width: 22px;
}
#reviews .cancel:hover {
  color: #505050;
}
#reviews #stars {
  padding-left: 20px;
}
#reviews #rating-text {
  padding-left: 20px;
}
#reviews .same-line {
  display: inline;
}
#reviews #modal-left {
  background-color: #e5e5e5;
  height: auto;
}
#reviews #modal-right {
  height: auto;
  min-width: 600px;
}
#reviews .modal-right-el {
  background-color: white;
  border-bottom: 1px solid;
  border-color: rgb(229, 229, 229);
  height: auto;
  display: block;
  padding: 10px 0;
}
#reviews .modal-container {
  display: grid;
  grid-template-columns: 1fr 30fr;
}
#reviews .modal-container:focus {
  border: 0;
}
#reviews .modal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#reviews .button-recommend {
  border-width: 1px;
  border-style: solid;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0) 100%);
  border-bottom-color: #aaaaaa;
  border-left-color: #d0d0d0;
  border-right-color: #cccccc;
  border-top-color: #cccccc;
  box-shadow: #ffffff 0px 1px 0px 0px, #ffffff 0px 1px 0px 0px inset;
  box-sizing: content-box;
  clear: both;
  clip: auto;
  
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  line-height: 16px;
  margin: 0px;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration-color: #666666;
  transition-duration: 0.2s;
}
#reviews .button-normal {
  background-color: #ededed;
  color: #666666;
}
#reviews .button-yes {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
#reviews .button-no {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
#reviews .input-field {
  padding: 7.5px 15px;
  margin: 0 0 10px 0;
  width: 90%;
  height: auto;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgb(221, 221, 221);
}
#reviews .review-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 12px 20px 12px;
  font-family: Sentinel, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 400px;
  line-height: 30px;
}
#reviews .required {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 20px 0px 20px;
  margin: 0 0 11px 0;
  line-height: 19.5px;
  font-weight: 400px;
  font-size: 11.7px;
}
#reviews .review-header {
  margin: 0px;
  padding: 10px 0;
  font-family: Sentinel, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700px;
  line-height: 24px;
}
#reviews .review-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 10px;
}
#reviews .image{
  max-width: 100%;
}
#reviews .image img {
  height: 100%;
  width: 100%;
}
#reviews .button-write,
.button-filter,
.button-clear-filter {
  display: inline-block;
  clear: both;
  background-color: #426c90;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0) 100%);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset;
  box-sizing: border-box;
  cursor: pointer;
  color: #ffffff;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 44px;
  line-height: 28px;
  margin: 0;
  padding: 8px 16px 8px 16px;
  text-align: center;
}
#reviews .button-clear-filter {
  background-color: #ededed;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  color: black;
  margin-left: 5px;
}
#reviews .f-right {
  float: right;
}
#reviews .content-title {
  padding: 0 20px 0 12px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-stretch: 100%;
}
#reviews .hist-title {
  padding: 5px;
  margin: 5px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
#reviews .button-write:hover {
  background-color: #2b455c;
}
#reviews .dropbtn {
  background: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
#reviews .dropdown {
  display: inline-block;
  cursor: default;
}
#reviews .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
#reviews .dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#reviews .dropdown-content div:hover {
  background-color: #2b455c;
  color: white;
}
#reviews .dropdown:hover .dropdown-content {
  display: block;
}
#reviews .button-helpful {
  background-color: #ededed;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0) 100%);
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #000000;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  height: 30px;
  line-height: 24px;
  padding: 3px 10px 3px 10px;
  text-align: center;
  width: auto;
  margin-right: 5px;
}
#reviews .button-helpful:hover,
.button-recommend:hover
{
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.1);
}
#reviews .button-load-more {
  width: 50%;
  margin: 20px auto;
}
#reviews .rating-bar-num {
  margin-left: 10px;
  padding: 5px 2px 3px 5px;
}
#reviews .rating-bar {
  width: 50%;
  min-width: 150px;
  height: 10px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin: 5px 10px 3px 10px;
}
#reviews .rating-bar-top {
  background-color: #e7711b;
  border-radius: 2px;
  padding: 0;
  position: absolute;
  display: block;
  height: 10px;
  top: 0;
  left: 0;
  overflow: hidden;
}
#reviews .rating-bar-bottom {
  padding: 0;
  display: block;
  border-radius: 2px;
  background-color: #c5c5c5;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0) 100%);
  height: 10px;
}
#reviews #review-index {
  padding: 16px 16px 16px 12px;
}
#reviews .star-ratings {
  unicode-bidi: bidi-override;
  display: inline-block;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: auto;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
#reviews .star-ratings-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
#reviews .star-ratings-bottom {
  padding: 0;
  display: block;
  z-index: -1;
}
#reviews #active-filters {
  padding: 10px;
  margin-bottom: 10px;
}
#reviews #filters-title {
  margin-bottom: 5px;
}
#reviews .fit-text {
  width: 200px;
}
#reviews #fit-bar-container {
  display: inline-block;
  width: 100%;
}
#reviews .inline-top {
  display: inline-block;
  top: 0px;
}
#reviews .fit-body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}
#reviews .fit-bar-block {
  height: 8px;
  border: 1px solid;
  width: 23%;
  border-color: rgb(204, 204, 204);
  display: inline-block;
}
#reviews .divider {
  height: 11px;
  background-color: black;
  width: 1%;
  display: inline-block;
}
#reviews .fit-bar-label {
  font-size: 10px;
  margin: 0;
  padding: 5px 0 0 0;
  color: rgb(153, 153, 153);
}
#reviews .pad-bot {
  padding-bottom: 5px;
}
#reviews .pad-top {
  padding-top: 5px;
}
#reviews .pad-left {
  padding-left: 20px;
}
#reviews .fit-slider {
  width: 10px;
  height: 12px;
  top: 3px;
  background-color: rgb(189, 91, 13);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0) 100%);
  position: absolute;
}
#reviews #fit-bar {
  position: relative;
}
#reviews .bold {
  line-height: 30px;
  font-weight: 700;
}
#reviews .bold-right{
  padding-right: 5px;
}
#reviews .bold-left {
  padding-left: 5px;
}
#reviews .title-review {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
#reviews .text-review {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
#reviews #review-list-item-footer {
  margin-top: 20px
}
#reviews .pad-right {
  padding-right: 10px;
}
#reviews .review-fit-bar {
  margin: 60px 0;
  padding: 0 20px;
}
#reviews .rating-star {
  background-color: #ededed;
  border-width: 1px;
  border-style: solid;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0) 100%);
  border-bottom-color: #aaaaaa;
  border-left-color: #d0d0d0;
  border-right-color: #cccccc;
  border-top-color: #cccccc;
  box-shadow: #ffffff 0px 1px 0px 0px, #ffffff 0px 1px 0px 0px inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 16px;
  margin: 0px;
  padding: 8px;
  position: relative;
  text-align: center;
  text-decoration-color: #666666;
  text-shadow: 1px 1px rgb(153, 153, 153);
  transition-duration: 0.2s;
}
#reviews .rating-star-1 {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
#reviews .rating-star-5 {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
#reviews .star-Poor {
  background-color: #b43034;
}
#reviews .no-border{
  border: 0;
}
#reviews .button-no-color {
  color: #b43034;
}
#reviews .button-yes-color {
  color: #338b2b;
}
#reviews .star-Fair {
  background-color: #de9500;
}
#reviews .star-Average {
  background-color: #ecdb00;
}
#reviews .star-Good {
  background-color: #8ac100;
}
#reviews .star-Excellent {
  background-color: #338b2b;
}
#reviews textarea {
  overflow: hidden;
  resize: none;
}
#reviews .select-button {
  border-radius: 4.25px;
  border: 1px solid black;
  background-color: white;
  border-color: rgb(204, 204, 204);
  font-style: italic;
  padding: 5px;
  cursor: pointer;
  font-size: 17px;
  height: 32px;
  font-family: Arial;
  box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px, rgb(255, 255, 255) 0px 1px 0px 0px inset;
  width: 50%;
  color: rgb(102, 102, 102);
}
#reviews input[type=checkbox] {
  width:17px;
  height:17px;
  margin-top: 0px;
}
#reviews .container {
  display: inline-block;
  position: relative;
  border-radius: 4%;
  margin-bottom: 12px;
  height: 35px;
  width: 40px;
  cursor: pointer;
  font-size: 22px;
  background-color: rgb(237, 237, 237);

  border: 1px solid #cccccc;
  box-shadow: #ffffff 0px 1px 0px 0px, #ffffff 0px 1px 0px 0px inset;
}
#reviews .checkmark {
  position: absolute;
  top: 25%;
  left: 30%;
  height: 15px;
  width: 15px;
  background-color:blue;
  border-radius: 50%;
}
#reviews .container:hover {
  background-color: rgb(170, 170, 170);
}
#reviews .selected {
  background-color: rgb(170, 170, 170);
}
#reviews .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#reviews .spinner {
  width: 100%;
  height: 100%;
  position: absolute;
}
#reviews .spinner img {
  position: relative;
  left: 45%;
  top: 25%;
  height: 100px;
  width: 100px;
  z-index: 2;

}
#reviews .container input:checked ~ .checkmark:after {
  display: block;
}
#reviews .container .checkmark-after {
 	top: 19px;
	left: 39px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgb(0, 102, 180);
}
#reviews .email-warning {
  font-size: 11.4px;
  line-height: 19.5px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
#reviews .status-check {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  margin-right: 5%;
}
#reviews .modal-wrapper {
  position: relative;
}
#reviews .check-gray {
  color: #767676;
  margin-right: 6%;
  float: right;
}
#reviews .check-hidden,
.hidden {
  display: none;
}
#reviews .check-green {
  color: #338b2b;
  float: right;
  margin-right: 6%;
}
#reviews .check-red {
  color: rgb(180, 48, 52);
  border: solid 1px rgb(180, 48, 52);
  border-radius: 13px;
}
#reviews .required-header {
  color: rgb(180, 48, 52);
}
#reviews .required-border {
  border-color : rgb(180, 48, 52);
}
#reviews .icon {
  border: 0px;
  display: inline-block;
}
#reviews .required-text {
  display: inline-block;
  padding: 5px;
}
#reviews .arrow {
  width: 0; 
  height: 0; 
  float: left;
  margin: auto 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid rgb(229, 229, 229);
  display: block;
}
#reviews .arrow-container {
  display: absolute;
  margin-top: 10px;
  width: auto;
  height: auto;
}
#reviews .margin-left {
  margin-left: 20px;
}
#reviews .product-info-text {
  font-family: Sentinel, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 48px;
  font-size: 16px;
}
#reviews #product-info {
  padding: 5%;
}
#reviews .sort-text {
  position: absolute;
  padding: 5px;
  margin: 1em 0 3em;
  border: 1px solid rgb(153, 153, 153);
  color: black;
  background-color: white;
  font-family: Sentinel, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 19.5px;
  font-size: 13px;
  border-radius: 5px;
  width: 320px;
  height: 78px;
  left: -160px;
}
#reviews .sort-text:before {
  top: -20px;
  bottom: auto;
  left: auto;
  right: 40px;
  border-width: 0 20px 20px;
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #5a8f00 transparent;
  display: block;
  width: 0;
}
#reviews .sort-text:after {
  top: -13px;
  bottom: auto;
  left: auto;
  right: 47px;
  border-width: 0 13px 13px;
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}
#reviews .sort-text-container {
  position: relative;
}#reviews 
